/* 
Colors

Orange: #f08a5d
Pink: #b83b5e
Purple: #6a2c70
*/

/* 
Fonts 
font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    background: linear-gradient(to right, #f08a5d, #6a2c70);
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    letter-spacing: 2px;
    color: #b83b5e;
    margin: 0;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-container {
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 1rem;
    background-color: #ffffff;
    text-align: center;
}

header .tagline {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 3px;
}

header .tagline .bullet {
    color: #b83b5e;
}

header img {
    max-width: 70%;
    height: auto;
}

.gradient-border {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #6a2c70, #b83b5e, #f08a5d);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #000;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    color: #ffffff;
    transition: transform 0.5s;
}

article ul {
    text-align: left;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}

article .price {
    font-weight: 500;
    letter-spacing: 2px;
}

.article-one,
.article-three {
    height: 60%;
}

.article-one {
    background-color: #6a2c70;
    border-top: 3px solid #6a2c70;
    border-right: 3px solid #6a2c70;
}

.article-two {
    background-color: #b83b5e;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 85%;
}

.featured-article h2 {
    color: #fff;
    font-size: 2rem;
}

.featured-article .price {
    font-size: 1.5rem;
}

.article-three {
    background-color: #f08a5d;
    border-top: 3px solid #f08a5d;
    border-right: 3px solid #f08a5d;
}

@media (min-width: 768px) {
    .main-container {
        height: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-rows: auto 50%;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }

    header img {
        max-width: 400px;
    }

    .section-one {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .section-two {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .section-three {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

@media(min-width: 1024px) {
    header img{
        animation: 3s ease-in 1s infinite reverse both running slidein;
        animation-iteration-count: 1;
    }

    article:hover {
        transform: scale(1.07);
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
    }
}

@keyframes slidein {
    from {margin-right: 0%;} to {margin-right: 50%;}          
}